body {
    background-color: rgb(247, 180, 224);
    }
    
 .menu {
    padding-top: 350px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.btn {
    width: 400px;
    height: 30px;
}

.text {
    font-size: 60px;
}

.input {
    width: 393px;
    height: 20px;

}


.window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     
    position: absolute;
    background-color: limegreen;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    top: 0;
    left: 0;
    margin: 0 auto;
    }
    
    .cards {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: white;
    /* left: 100px; */
    /* top: 100px; */
}

.card__text {
    text-align: center;
    padding-top: 90px;   
    font-size: 30px;
}

.container {
    display: flex;
    max-width: 2000px;
}

.none {
    display: none;
}
